Repository curliq/tv-note: changes, and which Codecov flags are due for each by the changed paths.
All: server, compose

add imdb link
  composeApp/src/androidMain/kotlin/com/free/tvtracker/previews/DetailsScreenPreviews.kt
  composeApp/src/commonMain/kotlin/com/free/tvtracker/ui/details/ContentDetailsScreen.kt
  composeApp/src/commonMain/kotlin/com/free/tvtracker/ui/details/ContentDetailsViewModel.kt
  composeApp/src/commonMain/kotlin/com/free/tvtracker/ui/details/mappers/ContentDetailsUiModelForMovieMapper.kt
  composeApp/src/commonMain/kotlin/com/free/tvtracker/ui/details/mappers/ContentDetailsUiModelForShowMapper.kt
Due: compose

make watchlist and finished in one sql query
  composeApp/build.gradle.kts
  composeApp/src/androidMain/kotlin/com/free/tvtracker/expect/AndroidAppPriceProvider.kt
  composeApp/src/commonMain/kotlin/com/free/tvtracker/di/AppModule.kt
  composeApp/src/commonMain/kotlin/com/free/tvtracker/domain/GetPurchaseStatusUseCase.kt
  composeApp/src/commonMain/kotlin/com/free/tvtracker/domain/GetShowByTmdbIdUseCase.kt
  composeApp/src/commonMain/kotlin/com/free/tvtracker/ui/details/ContentDetailsScreen.kt
  composeApp/src/commonMain/kotlin/com/free/tvtracker/ui/watching/WatchingScreen.kt
  composeApp/src/commonMain/kotlin/com/free/tvtracker/ui/watchlists/list/WatchlistsScreen.kt
  composeApp/src/commonMain/kotlin/com/free/tvtracker/ui/watchlists/list/WatchlistsViewModel.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/utils/TestUtils.kt
  iosApp/iosApp/Info.plist
  iosApp/iosApp/src/ContentView.swift
  server/build.gradle.kts
  server/src/main/kotlin/com/free/tvtracker/features/tracked/data/shows/EpisodesReleaseTodayQueryResult.kt
  server/src/main/kotlin/com/free/tvtracker/features/tracked/data/shows/TrackedShowEntity.kt
  server/src/main/kotlin/com/free/tvtracker/features/tracked/data/shows/TrackedShowJdbcRepository.kt
  server/src/main/kotlin/com/free/tvtracker/features/tracked/data/shows/TrackedShowJpaRepository.kt
  server/src/main/kotlin/com/free/tvtracker/features/tracked/domain/TrackedContentService.kt
  server/src/main/kotlin/com/free/tvtracker/storage/shows/data/StoredShowEntity.kt
  server/src/main/kotlin/com/free/tvtracker/storage/shows/domain/StoredShowsService.kt
  server/src/main/resources/application-production.yml
  server/src/test/kotlin/com/free/tvtracker/features/notifications/NotificationTaskTest.kt
  server/src/test/kotlin/com/free/tvtracker/storage/shows/domain/StoredEpisodesServiceTest.kt
Due: server, compose

test ccodecov
  codecov.yml
Due: none

again
  .github/workflows/coverage.yaml
Due: none

go again
  .github/workflows/coverage.yaml
Due: none

ay
  .github/workflows/coverage.yaml
Due: none

more
  .github/workflows/coverage.yaml
Due: none

more
  codecov.yml
Due: none

more
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/data/session/SessionRepositoryTest.kt
Due: compose

more
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/data/session/SessionRepositoryTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/details/DetailsUiModelForMovieMapperTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/details/DetailsUiModelForShowMapperTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/details/DetailsViewModelTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/details/ShowSeasonUiModelMapperTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/person/PersonUiModelMapperTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/search/AddTrackedViewModelTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/settings/SignupViewModelTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/splash/SplashViewModelTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/watching/GetNextUnwatchedEpisodeUseCaseTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/watching/IsTrackedShowWatchableUseCaseTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/watching/WatchingShowUiModelMapperTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/watching/WatchingViewModelTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/welcome/WelcomeViewModelTest.kt
Due: compose

fix watchlist bugs
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/details/DetailsUiModelForMovieMapperTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/details/DetailsUiModelForShowMapperTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/details/DetailsViewModelTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/details/ShowSeasonUiModelMapperTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/person/PersonUiModelMapperTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/search/AddTrackedViewModelTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/settings/SignupViewModelTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/splash/SplashViewModelTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/watching/GetNextUnwatchedEpisodeUseCaseTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/watching/IsTrackedShowWatchableUseCaseTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/watching/WatchingShowUiModelMapperTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/watching/WatchingViewModelTest.kt
  composeApp/src/jvmTest/kotlin/com/free/tvtracker/ui/welcome/WelcomeViewModelTest.kt
  server/build.gradle.kts
  server/src/main/kotlin/com/free/tvtracker/features/tracked/api/TrackedContentController.kt
  server/src/main/kotlin/com/free/tvtracker/features/tracked/api/TrackedShowMapper.kt
  server/src/main/kotlin/com/free/tvtracker/features/tracked/data/shows/TrackedShowEntity.kt
  server/src/main/kotlin/com/free/tvtracker/features/tracked/data/shows/TrackedShowEpisodeJpaRepository.kt
  server/src/main/kotlin/com/free/tvtracker/features/tracked/data/shows/TrackedShowJpaRepository.kt
  server/src/main/kotlin/com/free/tvtracker/features/tracked/domain/TrackedContentService.kt
  server/src/main/kotlin/com/free/tvtracker/features/watchlists/data/WatchlistTrackedShowJpaRepository.kt
  server/src/main/kotlin/com/free/tvtracker/features/watchlists/domain/WatchlistService.kt
  server/src/main/kotlin/com/free/tvtracker/storage/shows/domain/StoredEpisodesService.kt
  server/src/main/kotlin/com/free/tvtracker/storage/shows/domain/StoredShowsService.kt
Due: server, compose

Path conditions:
  server: any of: server/src
  compose: any of: composeApp/src
